<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magmodules\GoogleShopping\Helper\Source">
        <plugin name="custom_source_type" type="Ziffity\GoogleShopping\Plugin\SourcePlugin" sortOrder="10" disabled="false"/>
    </type>
</config>
