<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ziffity_ProductCustomizer">
      <sequence>
        <module name="Magento_Backend" />
         <module name="Magento_Bundle" />
         <module name="Magento_CatalogSearch" />
         <module name="Ziffity_SavedDesigns" />
      </sequence>
    </module>
</config>
