<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\QuoteManagement">
        <plugin name="aroundPlaceOrder" type="Ziffity\DigitalSigning\Plugin\QuoteManagement" sortOrder="1"/>
    </type>
</config>