<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <ziffity>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Ziffity\Shipping\Model\Carrier\Shipping</model>
                <name>Ground Shipping</name>
                <title>Ground Shipping</title>
                <specificerrmsg>This shipping method is not available right now.</specificerrmsg>
            </ziffity>
        </carriers>
    </default>
</config>
