<div id="laminate-details" class="popup-content">
    <div class="pc-img-holder pc-valign-center">
        <img src="<%- response.thumb_img %>">
    </div>
    <div class="pc-content mb-4">
        <div class="pc-id">
            <strong>Laminate Name: </strong>
            <span><%- response.name %></span>
        </div>
        <br>
        <div class="pc-id">
            <strong>Laminate ID: </strong>
            <span><%- response.code %></span>
        </div>
        <br>
        <div class="pc-id">
            <strong>Laminate Type: </strong>
            <span><%- response.laminate_type %></span>
        </div>
    </div>
</div>
