<div class="table-wrapper table-selected">
    <table class="table">
        <% if(response) { %>
        <tbody>
        <% _.each(response, function(res, key) { %>
        <tr>
            <% if(_.isArray(res)) { %>
            <th><%- _.unescape(key) %></th>
            <td>
                <% _.each(res, function(val) { %>
                <div>
                    <span><%- _.unescape(val.label) %></span>:
                    <span><%- _.unescape(val.value) %></span>
                </div>
                <br>
                <% }); %>
            </td>
            <% } else { %>
            <td><strong><%- res.label %></strong></td>
            <td><%- _.unescape(res.value) %></td>
            <% }; %>
        </tr>
        <% }); %>
        </tbody>
        <% } else { %>
        <span>Your selections will be updated when you move to next tab</span>
        <% }%>
    </table>
</div>
