<div id="v-dialog-popup" class="dialog-popup">
    <div class="dialog-popup-body">
        <p><h2 class="text-danger pt-4">OOPS!</h2><br>
        <p>Certain materials (when combined together) have size limitations.<br>
        </p><p>Please make one or all of these adjustments (if applicable), so you can continue designing.</p><ul>
        <li>1. Make an adjustment on the Size Tab</li>
        <li>2. Choose another selection on the Frame Tab</li>
        <li>3. Reduce the mat border width on the Mat Tab</li>
    </ul>
        </p>
    </div>
</div>
