<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ziffity" translate="label" sortOrder="200">
            <label>Ziffity</label>
        </tab>
        <section id="custom_frame" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Custom Frame</label>
            <tab>ziffity</tab>
            <resource>Ziffity_ProductCustomizer::custom_frame</resource>
            <group id="component_price" translate="label" type="text" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Component Prices</label>
                <field id="addon_plunge_price" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Addons Plunge Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="shelves_1_4_price" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Shelves 1/4 Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>Price per shelves qty.</comment>
                </field>
                <field id="shelves_3_8_price" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Shelves 3/8 Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>Price per shelves qty.</comment>
                </field>
                <field id="header_text_price" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Header Text Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>Price will be multiplied header text size(width*height).</comment>
                </field>
                <field id="header_image_price" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Header Image Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>Price will be multiplied header image size(width*height).</comment>
                </field>
                <field id="lable_text_price" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Lable Text Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>Price will be multiplied label text size(width*height).</comment>
                </field>
                <field id="lable_image_price" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Lable Image Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>Price will be multiplied label image size(width*height).</comment>
                </field>
                <field id="power_supply" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Lighting Power Supply Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="power_connection" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Lighting Power Connection Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="power_connection_hardwired" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Lighting Power Connection Hardwired Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="power_connection_plug" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Lighting Power Connection Plug Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
        </section>
        <tab id="customizer" translate="label" sortOrder="10">
            <label>Customizer</label>
        </tab>
        <section id="co_products" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Co Products</label>
            <tab>customizer</tab>
            <resource>Ziffity_ProductCustomizer::custom_frame</resource>
            <group id="unit_pricing" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Unit Pricing</label>
                <field id="plunge_lock" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Plunge Lock</label>
                </field>
            </group>
        </section>
        <section id="header" translate="label" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Header Configuration</label>
            <tab>customizer</tab>
            <resource>Ziffity_ProductCustomizer::custom_frame</resource>
            <group id="header_configuration" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Header Data</label>
                <field id="header_fonts" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Header Fonts</label>
                    <source_model>Ziffity\ProductCustomizer\Model\Config\Source\FontOptions</source_model>
                </field>
                <field id="header_text_color" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Colors</label>
                    <comment>
                        <![CDATA[New line separated colors. E.g.:<br/>
                            red<br/>
                            #ffc000]]>
                    </comment>
                </field>
                <field id="header_bg_color" translate="label" type="textarea" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Colors</label>
                    <comment>
                        <![CDATA[New line separated colors. E.g.:<br/>
                            red<br/>
                            #ffc000]]>
                    </comment>
                </field>
            </group>
        </section>
        <section id="label" translate="label" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Label Configuration</label>
            <tab>customizer</tab>
            <resource>Ziffity_ProductCustomizer::custom_frame</resource>
            <group id="label_configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Label Data</label>
                <field id="label_fonts" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label Fonts</label>
                    <source_model>Ziffity\ProductCustomizer\Model\Config\Source\FontOptions</source_model>
                </field>
                <field id="label_text_color" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Colors</label>
                    <comment>
                        <![CDATA[New line separated colors. E.g.:<br/>
                            red<br/>
                            #ffc000]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
