<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amasty_request_quote">
            <group id="sharepdf" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Share Email PDF</label>
                <field id="sendername" translate="label" type="text" sortOrder="30" showInDefault="1" showInStore="1">
                   <label>Sender Name</label>
               </field>
                <field id="senderemail" translate="label" type="text" sortOrder="30" showInDefault="1" showInStore="1">
                   <label>Sender Email</label>
               </field>
               <field id="share_pdf_template" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Share Pdf Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
           </group>
            <group id="pdf">
                <field id="template_content_noheader" translate="label" type="textarea" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Template Content without Header</label>
                    <validate>required-entry</validate>
                    <frontend_model>Amasty\RequestQuote\Block\Adminhtml\System\Config\PdfTemplate</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
